body{
	margin: 0;
	font-size: 14px;
}
/* Basic styles */
a,a:hover,a:hover,a:visited{
    text-decoration: none;
    color: darkslategrey;
}
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    clear: both;    
    visibility: hidden;    
}
ul,li,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
input, select {
    outline: none;
}
/* Basic styles end */

/* banner start */
div.banner {
    width: 100%;
    height: auto;
    padding-top: 40px;/*设置banner-1的margin会导致banner整体下移，因此设置banner的padding*/
    background-color: #91ccec;
}
.banner-1{
	width: 950px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-left: 80px;
}
.banner-2{
	width: 1100px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}
.banner-3{
	width: 1100px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}
span.search-logo{
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 40px;
	font-size: 32px;
}
input.search-bar{
	float: left;
	width: 750px;
	height: 2em;
	margin-top: 8px;
	margin-left: 10px;
	padding-left: 10px;
	border-radius: 3px;
    border: 1px solid #134c6b;
}
input.search-btn{
	float: left;
	width: 60px;
	height: 2em;
	margin-top: 10px;
	margin-left: 5px;
}
/* banner ended */




/* main start */
div.main {
    width: 1100px;
    height: auto;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.main-left{
	float:left;
	width: 650px;
	height: auto;
	padding: 5px;
	margin-left: 80px;
}

.main-right-1{
	float: left;
	width: 300px;
	height: 300px;
	padding: 5px;
	margin-left: 20px;
	border-radius: 5px;
	background-color: #f1f1f1;
}
.main-right-2{
	float: left;
	width: 300px;
	height: 200px;
	margin-top: 20px;
	padding: 5px;
	margin-left: 20px;
	border-radius: 5px;
	background-color: #f1f1f1;
}
#url li{
	width: 100px;
	height: 32px;
	padding: 1px 1px 1px 5px;
	float: left;
}



.date{
	font-size: 1.2em;
}
.weather{
	font-size: 1.2em;
}





.foot{
	width: 100%;
	height: auto;
	margin-top: 40px;
	border-top: solid 2px #f2f2f2;
}
.foot-main{
	width: 1100px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	color: grey
}











